@font-face {
  font-family: 'LatinModern';
  src: url('./LatinmodernmathRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
    --background-color: #FFF8F6;
    --primary-color: #EF7B45;
    --secondary-color: #FFDBCE;
    --secondary-color-hover: #EECCBF;
}


body {
    background-color: var(--background-color);
}

#main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-menu {
    margin: 4em auto;
    width: fit-content;
}

.category-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: min(40em, 80vw);
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
.category-header {
    font-size: 1.2em;
}
.category-button {
    all: unset;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0.8em 2em;
    background-color: var(--secondary-color);
    border-radius: 1em;
}
.category-button:hover {
    background-color: var(--secondary-color-hover);
}
.problem-sublabel {
    font-family: 'LatinModern', serif;
}

.navbar {
    margin-bottom: 1em;
}
.navbar-button {
    all: unset;
    padding: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: var(--secondary-color);
}
.navbar-button:hover {
    background-color: var(--secondary-color-hover);
}
.navbar-left {
    margin-right: auto;
}
.navbar-center {
    width: fit-content;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}
.navbar-right {
    margin-left: auto;
}
.logo-span {
    font-size: 2em; 
    margin-left: 0.5em;
    padding: 0 0.5em;
    border-bottom: 4px solid var(--primary-color);
}