@font-face {
  font-family: 'LatinModern';
  src: url('./LatinmodernmathRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
    background-color: #FFF8F6;
}

#main {
    margin: 4em auto;
    width: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-menu {
    width: fit-content;
}

.category-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: min(40em, 80vw);
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
.category-header {
    font-size: 1.2em;
}
.category-button {
    all: unset;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0.8em 2em;
    background-color: #FFDBCE;
    border-radius: 1em;
}
.category-button:hover {
    background-color: #EECCBF;
}
.problem-sublabel {
    font-family: 'LatinModern', serif;
}