.expression-sequence-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.expression-sequence-history-container {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
}

.expression-line-container {
    display: flex;
    flex-direction: row;
    padding: 0.5em 1em;
    
    &.not-last:hover {
        background-color: rgba(0,0,0,0.05);
    }
}
.expression-line-left-bar {
    background-color: grey;
    width: 4px;
    margin-right: 1em;
    border-radius: 3px;
}
.expression-line-action {
    color: gray;
    font-size: 0.6em;
}
.expression-line-expand-elipsis{
    padding: 0 1em;
}
.expression-line-expand-button{
    all: unset;
    padding: 0.5em 1em;
    border-radius: 0.8em;
    margin-bottom: 0.5em;
    color: black;
    cursor: pointer;
    background-color: var(--secondary-color);
    &:hover {
        background-color: var(--secondary-color-hover);
    }
}
.expression-line-container:hover .expression-line-right-panel {
    opacity: 1;
}
.expression-line-right-panel {
    margin-left: auto;
    font-size: 0.6em;
    opacity: 0;
    
    button {
        all: unset;
        padding: 0.5em 1em;
        border-radius: 0.8em;
        margin-bottom: 0.5em;
        color: black;
        cursor: pointer;
        background-color: var(--secondary-color);
        &:hover {
            background-color: var(--secondary-color-hover);
        }
    }
}
.expression-line-block {
    margin-right: 1em;
}

.possible-actions-container {
    margin-top: 0.5em;
    width: min(40em, 80vw);
}
.possible-action-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0.1em 2em;
    border-radius: 2em;
    background-color: rgba(0,0,0,0.1);
    &:hover {
        background-color: rgba(0,0,0,0.2);
    }
}
.possible-action-caption {
    padding:0.5em 0;
}